@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

.App {
  text-align: center;
  box-shadow:0 0 5vmin 1vmin #000 inset;
}

.App-header {
  background-color: #282c34;
  background-image: radial-gradient(rgba(0, 60, 0, 0.9), black 120%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fira Code", monospace;
  font-size: calc(10px + 2vmin);
  text-shadow: 0 0 5px #C8C8C8;
  color: white;
  
}

.screen::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      to bottom,
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 4px;
  z-index: 2;
  pointer-events: none;
}

button {
  position:fixed;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 2vmin;
  margin:2vmin;
  min-height: 5vmin;
  min-width: 5vmin;
  border-radius: 20px;
  font-family: "Fira Code", monospace;
  font-size: large;
  box-shadow:0 0 5vmin 1vmin #000;
  background-image: radial-gradient(coral, black 120%);
  background-position: center;
}

.prompt {
  bottom: 5%;
  left: 20%
}

.genre {
  bottom: 5%;
  right: 20%
}

@media screen and (max-width:700px) {
  .prompt {
    bottom: 15%
  }
}
